header{
    color:white;
    font-size: 30px;
    background-color: #3b5998;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    
footer{
    background-color:#3b5998;
    color:#fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e3ebf7;
    text-align: left;
    
    
}
.login-form{
    text-align: right;
    margin-right: 10px;
}
nav{
    background-color: #4267b2;
    color: #fff;
    padding: 10px 20px;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color:#fff ;
    text-decoration: none;
}
a:hover{
    color:yellow
}
